$text: #425466;
$title: #201634;
$blue: #145ade;
$gray: #f6f6f8;
$light-blue: #90e0ff;
$p: #334253;

$dark-purple: #42009c;
$purple: #730eb3;
$orange: #ef5509;
$yellow: #f9cf09;

$rainbow-color-one: $purple;
$rainbow-color-two: $orange;
$rainbow-color-three: $light-blue;
$rainbow-color-four: $yellow;
