.inscription-benefits {
  opacity: 0.71;
  background-color: #f1f1f5;
  padding: 15px;
 

  @media(min-width:1024px){
    max-width: 506px;
  }

  .benefits {
    background-color: white;
    padding: 25px 0px 30px;

    @media(min-width: 1440px){
      padding: 40px 55px 50px;
    }

    h3 {
      font-size: 12px;
      line-height: 20px;
      font-weight: 600;
      margin-bottom: 10px;
      text-align: center;
      margin-bottom: 22px;
      color: #000;

      @media(min-width: 768px){
        font-size: 14px;
        margin-bottom: 35px;
      }

      span {
        background: linear-gradient(-300deg, #fd7c08 45%, #42009c 50%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
    ul {
      margin: 0px;
      font-size: 14px;
      font-weight: 600;
      color: black;

      @media(min-width: 768px){
        font-size: 16px;
      }

      li {
        margin-bottom: 17px;

        &:last-child{
          margin-bottom: 0px;
        }

        @media(min-width: 768px){
          font-size: 13px;
          margin-bottom: 13px;
        }
      }
    }
  }
}