section.calendar-component {
  padding: 0px 0px 100px 0px;
  margin-top: -100px;
  z-index: 1;

  .rainbow-title-component {
    margin-bottom: 0px;
  }

  h2.title {
    margin-bottom: 45px;
  }

  small.subtitle {
    text-align: center;
    font-size: 28px;
    font-weight: normal;
  }

  p.text {
    font-size: 18px;
    line-height: 28px;
    font-weight: normal;
    max-width: 1132px;
    text-align: center;
    margin: 0px auto 85px;
  }

  .tasks {
    position: relative;
    margin: 0px auto 30px;

    @media(min-width: 1024px){
      max-width: 600px;
      margin: 0px auto 70px;
    }

    @media(min-width: 1440px){
      max-width: 1000px;
    }

    &:before {
      content: "";
      display: none;
      position: absolute;
      z-index: 1;
      width: 1px;
      height: 100%;
      top: 0;
      left: 0;
      background: linear-gradient(to top, #ff7c00, #42009c);

      @media(min-width: 768px){
        display: block;
        left: calc(120px + 45px)
      }
      
      @media(min-width: 1440px){
        left: calc(295px + 45px)
      }
    }
  }

  .task {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 18px 0px;

    &:before,
    &:after {
      content: "";
      display: block;
      height: 1px;
      background-color: #4c565f;
      position: absolute;
      left: 0;
      right: 0;

      @media(min-width: 768px){
        display: none;
      }
    }

    &:before {
      top: 0;
    }

    &:after {
      bottom: 0;
    }

    &:not(:last-child){
      &:after {
        display: none;
      }
    }
    
    @media(min-width: 768px){
      flex-direction: row;
      padding: 0px;
    }

    &:not(:last-child) {
      .work {
        @media(min-width: 768px){
          padding-bottom: 35px;
        }

        @media(min-width: 1440px){
          padding-bottom: 75px;
        }
      }
    }

    &:last-child {
      .work {
        @media(min-width: 768px){
          padding-bottom: 20px;
        }
      }
    }

    &:first-child {
      .hour,
      .work {
        @media(min-width: 768px){
          padding-top: 20px;
        }
      }
    }

    .hour {
      width: 100%;
      font-size: 18px;
      text-align: left;
      font-style: italic;
      color: $text;

      @media(min-width: 768px){
        text-align: right;
        font-size: 20px;
        line-height: 30px;
        max-width: 120px;
      }
      
      @media(min-width: 1440px){
        font-size: 36px;
        line-height: 45px;
        max-width: 295px;
      }
    }

    .work {
      width: 100%;
      max-width: 700px;
      margin-left: 0px;
      padding-left: 0px;
      line-height: normal;

      @media(min-width: 768px){
        margin-left: 45px;
        padding-left: 45px;
      }

      h3.title {
        font-size: 24px;
        font-weight: 500;
        line-height: normal;
        text-align: left;

        @media(min-width: 768px){
          font-size: 20px;
          line-height: 30px;
        }

        @media(min-width: 1440px){
          font-size: 35px;
        }
      }
      
      p.text {
        font-size: 18px;
        font-weight: normal;
        line-height: normal;
        text-align: left;
        margin-bottom: 0px;

        @media(min-width: 1440px){
          font-size: 30px;
        }
      }
    }
  }

  .acordeon .acordeon-item .collapsed-section {
    @media(min-width: 768px){
      overflow: visible;
      max-height: none;
      opacity: 1;
    }
  }
}
