div.slide-calendar-component {
  background-color: white;
  border-radius: 3px;
  padding: 20px 30px 20px;
  height: auto;

  @media (min-width: 768px) {
    padding: 65px 35px 70px;

    @media (min-width: 1440px) {
      padding: 20px 30px 30px;
    }
  }

  box-shadow: 2px 4px 12px rgb(0 0 0 / 8%);
  transition: all .3s cubic-bezier(0,0,.5,1);

  &:hover,
  &:focus {
    box-shadow: 2px 4px 16px rgb(0 0 0 / 16%);
    transform: scale3d(1.01,1.01,1.01);
  }

  h3.title {
    font-size: 32px;
    line-height: 35px;
    font-style: italic;
    text-align: left;
    margin-bottom: 25px;

    @media (min-width: 768px) {
      margin-bottom: 30px;
    }

    @media (min-width: 1440px) {
    }
  }

  .text {
    margin-bottom: 15px;
    color: #334253;

    @media (min-width: 768px) {
    }

    @media (min-width: 1440px) {
      font-size: 18px;
    }

  }

   .text-teacher{
     margin-bottom: 35px;

     @media(min-width: 768px){
       margin-bottom: 45px;
     }

     @media (min-width: 1440px) {
      font-size: 18px;
    }
   }
   
   em,
   strong {
     font-size: 17px;
     line-height: 24px;

     @media (min-width: 768px) {
       font-weight: 500;
     }
   }

   em {
     display: block;
   }

  a {
    line-height: 25px;
    display: block;
    text-align: center;
    margin-top: 25px;
    color: #1573e5;
  }

  button.call-to-action {
    display: flex;
    min-width: 200px;
    margin: 0 auto;
  }
}