div.slide-calendar-component {
  background-color: white;
  border-radius: 3px;
  height: auto;

  .m-l-10 {
    margin-left: 10px;
  }

  .slide-body {
    padding: 20px 30px 20px;
  
    @media (min-width: 768px) {
      padding: 65px 35px 70px;
  
      @media (min-width: 1440px) {
        padding: 20px 30px 30px;
      }
    }
  }

  h3.title {
    font-size: 30px;
    line-height: 50px;
    text-align: left;
    margin-bottom: 15px;

    @media (min-width: 768px) {
      margin-bottom: 30px;
    }

    @media (min-width: 1440px) {
    }
  }

  .text {
    margin-bottom: 10px;
    color: #334253;

    @media (min-width: 768px) {
    }

    @media (min-width: 1440px) {
      font-size: 20px;
    }
  }

   .text-teacher{
     margin-bottom: 35px;

     @media(min-width: 768px){
       margin-bottom: 45px;
     }

     @media (min-width: 1440px) {
      font-size: 20px;
    }
   }
   
   em,
   strong {
     font-size: 20px;
     line-height: 24px;

     @media (min-width: 768px) {
       font-weight: 500;
     }
   }

   em {
     display: block;
   }

  a {
    line-height: 25px;
    display: block;
    text-align: center;
    margin-top: 25px;
    color: #1573e5;
  }

  .discount {
    background-color: #42009c;
    color: white;
    padding: 17px 30px 14px;
  
    @media (min-width: 768px) {
      padding: 17px 35px 14px;
  
      @media (min-width: 1440px) {
        padding: 17px 30px 14px;
      }
    }
    
    div {
      font-size: 50px;
      line-height: 38px;
      font-weight: bold;
      background-image: linear-gradient(to bottom, #90e0ff, #95c8fc 78%, #a960ee);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    
    small {
      margin-top: 12px;
      font-size: 20px;
      line-height: 15px;
      font-weight: bold;
      background-image: linear-gradient(to bottom, #a960ee, #91d8fe 33%, #90e0ff);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

  }
}