.faqs-component {
  h2.title {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 88px;
    letter-spacing: -1.5px;
    text-align: start;

    @media (min-width: 768px) {
      font-size: 40px;
      line-height: 52px;
      font-weight: 600;
      margin-bottom: 115px;
      letter-spacing: -1.1px;
    }
  }

  .pregunta {
    position: relative;
    margin-bottom: 70px;

    &:last-child{
      margin-bottom: 60px;
    }

    .arrow {
      display: inline-block;
      top: 8px;
    }

    .collapsed-section {
      height: 100%;
      overflow: hidden;
      max-height: 0;
      opacity: 0;
      transition: opacity 0.4s ease-in-out, max-height 0.2s ease-in-out;
    }

    &.opened {
      .arrow {
        display: inline-block;
      }

      .collapsed-section {
        max-height: 500px;
        opacity: 1;
        transition: opacity 0.4s ease-in-out, max-height 0.2s ease-in-out;
      }
    }

    h3.title {
      margin: 0px 50px 20px 0px;
      font-size: 22px;
      line-height: 24px;
      font-weight: 500; 

      @media (min-width: 768px) {
        font-size: 26px;
        line-height: 29px;
        font-weight: 600;
        margin: 0px 0px 27px 0px;
      }
    }

    p.text {
      font-size: 14px;
      line-height: 24px;
      color: #334253;
      margin: 0px;

      @media (min-width: 768px) {
        font-size: 14px;
        line-height: 30px;
      }
    }
  }

  hr {
    color: #4c565f;
    margin: 0px;
  }

}