section.carousel-component {
  &.carousel-students-skin {
    background-color: transparent;

    h2.title {
      font-size: 30px;
      line-height: 34px;
      text-align: center;
    }

    .carousel {
      .carousel-container {
        .carousel-row {
        }
        
        .glide {
          .glide__track {
            .glide__slides {
              .glide__slide {
                box-shadow: none;

                &:hover,
                &:focus {
                  box-shadow: none;
                }
              }
            }
          }

          &:not(.glide--carousel, .glide--slider){
            .glide__track{
              .glide__slides{
                display: flex;
                align-items: center;
                justify-content: space-between;

                .glide__slide{
                  width: auto;
                }
              }
            }

            .glide__arrows {
              display: none;
            }
          }

          .glide__track{
            .glide__slides{
              @media(min-width: 1024px){
                padding: 0px;
              }

              .glide__slide{
                
              }
            }
          }
          
          .glide__arrows {
            &.mobile-hidden {
              @media(max-width: 1023px){
                display: block!important;
              }
            }
          }
        }
        
      }
    }
  }
}