#hire-plan-form{
  .wrapper {
    display: flex;
    justify-content: center;

    @media (min-width: 1440px) {
      justify-content: center;
    }
    .call-to-action{
      width: 100%;
    }
  }
}