.modal {
  overflow: auto;
  max-height: 100vh;
  pointer-events: none;
  position: fixed;
  top: 160px;
  left: 0;
  right: 0;
  transition: opacity 0.3s ease-in-out, top 0.3s ease-in-out;
  opacity: 0;

  .modal-dialog {
    box-shadow: 0 3px 10px rgb(0 0 0 / 30%);
    border-radius: 18px;
    background: #fff;
    padding: 30px;
    max-width: 600px;
    margin: 80px auto;
    position: relative;

    .modal-hader {
    }

    .modal-body {
    }

    .modal-footer {
    }
  }

  &.showing {
    pointer-events: initial;
    transition: opacity 0.5s cubic-bezier(0.5, 0, 0, 0.75),
      top 0.5s cubic-bezier(0.5, 0, 0, 0.75);
    top: 0px;
    opacity: 1;
  }

  &.show-out {
    visibility: hidden;
    z-index: -1;
  }

  &.show-in {
    visibility: visible;
    z-index: 1000;
  }
}
