.whatsapp {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 13px 22px;
  min-height: 50px;
  min-width: 148px;
  bottom: 10px;
  right: 20px;
  background-color: #25d366;
  color: #FFF;
  text-align: center;
  font-size: 13px;
  font-weight: 700;
  z-index: 100;
  transition: all .5s ease-in-out;

  &:hover {
    color: white;
    filter: brightness(1.2);
  }

  .whatsapp-icon {
    margin-right: 13px;
    font-size: 39px;
  }
}