.slide-empresas-component {
  div.slide-component {
    padding: 45px 30px 0px;
    height: 615px;
    position: relative;

    @media (min-width: 1024px) {
      height: 750px;
      padding: 50px 35px 0px;
    }
    .slide {
      p.name {
        font-size: 17px;
        line-height: 21px;
        font-weight: 600;
        margin-bottom: 10px;

        @media (min-width: 1440px) {
          font-size: 21px;
          line-height: 25px;
        }
      }
      p.cost {
        font-size: 33px;
        line-height: 37px;
        font-weight: 600;
        color: black;
        margin-bottom: 5px;

        @media (min-width: 1440px) {
          font-size: 45px;
        }

        span {
          font-size: 16px;
          line-height: 20px;
          text-align: left;

          @media (min-width: 1440px) {
            font-size: 20px;
            line-height: 24px;
          }
        }
      }
      p.nota {
        font-size: 13px;
        line-height: 17px;
        margin-bottom: 30px;
        font-weight: 600;
        color: black;

        @media (min-width: 1440px) {
          font-size: 15px;
          line-height: 19px;
          margin-bottom: 35px;
        }
      }
    }

    hr {
      margin: 0px 0px 35px;
    }

    .benefits {
      h3.title {
        background: linear-gradient(215deg, #fc6608 79%, #32008a 81%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 16px;
        margin-bottom: 21px;
        line-height: 20px;

        @media (min-width: 1024px) {
          font-size: 21px;
          margin-bottom: 26px;
        }
      }

      ul {
        list-style: disc;
        li {
          font-size: 14px;
          line-height: 18px;

          @media (min-width: 1024px) {
            font-size: 17px;
            line-height: 21px;
          }
        }
      }
    }

    .clarification {
      font-size: 12px;
      line-height: 15px;
      color: #66788d;

      @media (min-width: 1024px) {
        font-size: 14px;
        line-height: 17px;
      }
    }

    .button-wrapp {
      position: absolute;
      width: calc(280px - 60px);
      bottom: 50px;

      @media (min-width: 768px) {
        width: calc(280px - 50px);
      }
      @media (min-width: 1024px) {
        width: calc(340px - 50px);
        bottom: 35px;
      }

      .call-to-action {
        font-size: 15px;

        @media (min-width: 768px) {
          padding: 0px;
        }
        @media (min-width: 1024px) {
          font-size: 22px;
        }
      }
    }
  }
}
